.main_container {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgb(192, 211, 205);
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.title_container {
  font-size: 28px;
  display: flex;
  margin-left: 400px;
}
.text_add_cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.input_container {
  margin-top: -40px;
}
.button_container {
  width: 140px;
  height: 35px;
  text-align: center;
  border-radius: 5px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(149, 159, 117);
  color: rgb(12, 14, 16);
  font-size: 16px;
  font-weight: 700;
}

.input_cont {
  margin-bottom: 20px;
}
.label {
  font-size: 20px;
  margin-right: 40px;
}
.theme_main_container {
  position: relative;
  margin-top: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_cont_drop {
  margin-bottom: 100px;
}
.button_container_reset {
  width: 140px;
  height: 35px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(114, 144, 169);
  color: rgb(12, 14, 16);
  font-size: 16px;
  font-weight: 700;
}
